---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <div class=" flex-row space-y-4 my-40 w-full md:w-1/2 p-6 mx-auto items-center ">
        <p class=" text-black text-2xl font-semibold w-full">Well, Seems like something went wrong</p>
        <p class=" text-gray-600 leading-relaxed pb-6 w-full">Please click here to go to the home page and continue viewing or kindly use the navigation bar at the top. Thanks:)</p>
        <a href="/" class=" rounded-lg border-2 border-grey hover:shadow-lg px-4 py-2">Go Home</a>
    </div>
</MainLayout>