---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
 <!-- Hero section for the ART page -->
 <section class="channel-card-wrapper container md:items-center justify-items-center p-6 md:p-12  gap-8 flex items-center md:flex-row flex-col md:px-32 my-4">
    <div class="content md:place-self-center place-self-start md:w-1/2 text-black md:p-4,space-y-6 space-y-4">
        <p class=" text-xl font-medium">Drawing DNA Unleashed</p>
        <p class=" text-base leading-relaxed">The name - the metaphor that I go with on online to present my art. I've been drawing since I remember things, But I took it pretty seriously since 2019 and thought why not start posting it online. And here I am ;) . Stories aside. Looking forward to creating more art that is thoughtful and meaningful.</p>
        <p class=" text-base leading-relaxed">I hope i can create thoughtful artworks which has an inherent meaning for both myself and others. I think my vision of what i want to do with my art will keep evolving as iam learning more and more of life in itself. But as for now check out my drawings. Enjoy 🙂</p>
        <ul class="mt-6 flex justify-start gap-4 md:gap-6">
            <li>
              <a
                href="https://www.youtube.com/c/DrawingDNAunleashed"
                target="_blank"
              >
                <div class="youtube-link h-7 w-7">
                    <img src="youtube-icon.png"> </img>
                </div>
              </a>
            </li>
      
            <li>
              <a
                href="https://www.instagram.com/drawing_dna_unleashed/"
                target="_blank"
              >
              <div class="instagram-link h-7 w-7">
                <img src="instagram-icon.png"> </img>
              </div>
              </a>
            </li>
      
            <li>
              <a
                href="https://twitter.com/Drawing_DNA?s=09"
                target="_blank"
              >
              <div class="twitter-link h-7 w-7">
                <img src="twitter-x-icon.png"> </img>
              </div>
              </a>
            </li>
      
            <li>
              <a
                href="/"
                target="_blank"
              >
              <div class="dribble-link h-7 w-7">
                <img src="dribble-icon.png"> </img>
              </div>
              </a>
            </li>
      
          </ul>
    </div>
    <div class="video-thumbnail aspect-video rounded-xl overflow-hidden md:w-1/2 w-full">
        <iframe class=" h-full w-full" src="https://www.youtube.com/embed/9heHjqQVa08?si=ip2nYQM5yq8Q_EAG" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

 <!-- Gallery-Massonary Grid -->
 <section class="gallery-wrapper m-4 md:m-12 md:px-8">
    <div class="columns-1 sm:columns-2 md:columns-3 3xl:columns-4 space-y-4 ">
        <img src="peter-mickinnon.jpeg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Peter Mickinnon by me"></img>
        <img src="big-tiger.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Tiger by me"></img>
        <img src="ram-charan.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Ram Charan by me"></img>
        <img src="justin-beiber.jpeg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Justin beiber by me"></img>
        <img src="dog-snout.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Cute Dog by me"></img>
        <img src="ram-janu.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of youtuber Ram and Janu by me"></img>
        <img src="vijay.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Actor Vijay by me"></img>
        <img src="ramya-pandiyan.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Actress Ramya Pandiyan by me"></img>
        <img src="tom-holland.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Actor Tom Holland as Spiderman by me"></img>
        <img src="jackie-chan.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of the Legendary Actor Jackie Chan by me"></img>
        <img src="jordan-b-peterson.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A portrait drawing of Jordan B Peterson by me"></img>
        <img src="eye.jpg" class="rounded-lg shadow-md" loading="lazy" alt="A hyper realistic drawing of an Eye by me"></img>
    </div>
 </section>
</MainLayout>