<footer class=" z-9 bg-gray-100 py-4 px-4 bottom-0 border-t-2 border-t-lightgray">
    <!-- Head and Introduction about me -->
    <div class="pb-8">
      <p class="text-xl mx-auto mt-6 text-center text-black">Drawing DNA Unleashed</p>
      <p class="mx-auto mt-6 max-w-xl text-center leading-relxed text-black">
        I am Vishwa Selvam an aspiring Artist by passion and a Graphics designer by profession. I like to create stuff. Here you can see some of my drawings and other design works. Thanks for visiting! Checkout my socials for more artworks
      </p>
  
      <!-- Secondary Navigation -->
      <ul class="mt-8 flex flex-wrap justify-center gap-8 md:gap-8 lg:gap-8">
        <li>
          <a class=" text-black transition hover:text-grey hover:underline underline-offset-4 " href="/">
            Home
          </a>
        </li>
  
        <li>
          <a class="  text-black transition hover:text-grey hover:underline underline-offset-4 " href="art">
            Art
          </a>
        </li>
  
        <li>
          <a class="  text-black transition hover:text-grey hover:underline underline-offset-4 " href="design">
            Design
          </a>
        </li>
  
        <li>
          <a class=" text-black transition hover:text-grey hover:underline underline-offset-4 " href="thoughts">
            Thoughts
          </a>
        </li>
  
        <li>
          <a class=" text-black transition hover:text-grey hover:underline underline-offset-4 " href="mailto:drawingdnaoff@gmail.com">
            Contact
          </a>
        </li>
  
      </ul>
  
      <!-- Social media Links -->
      <!-- Youtube -->
      <ul class="mt-6 flex justify-center gap-6 md:gap-8">
        <li>
          <a
            href="https://www.youtube.com/c/DrawingDNAunleashed"
            target="_blank"
          >
            <div class="youtube-link h-7 w-7">
                <img src="/youtube-icon.png"> </img>
            </div>
          </a>
        </li>
        
        <!-- Instagram -->
        <li>
          <a
            href="https://www.instagram.com/drawing_dna_unleashed/"
            target="_blank"
          >
          <div class="instagram-link h-7 w-7">
            <img src="/instagram-icon.png"> </img>
          </div>
          </a>
        </li>

        <!-- Twitter -->
        <li>
          <a
            href="https://twitter.com/Drawing_DNA?s=09"
            target="_blank"
          >
          <div class="twitter-link h-7 w-7">
            <img src="/twitter-x-icon.png"> </img>
          </div>
          </a>
        </li>
  
        <!-- Dribble -->
        <li>
          <a
            href="/"
            target="_blank"
          >
          <div class="dribble-link h-7 w-7">
            <img src="/dribble-icon.png"> </img>
          </div>
          </a>
        </li>
  
        <!-- LinkedIn -->
        <li>
          <a
            href="https://www.linkedin.com/in/vishwa-selvam/"
            target="_blank"
          >
          <div class="linkedin-link h-7 w-7">
            <img src="/linkedin-icon.png"> </img>
          </div>
          </a>
        </li>

      </ul>
    </div>
  </footer>